/* Estilos específicos del componente App */
/* Contenedor principal de la página Home */
#root {
  width: 100%;  /* Asegura que el contenedor principal ocupe todo el ancho de la pantalla */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}


/* Estilo para la grilla de juegos en la página de inicio */
.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Máximo 2 columnas, ocupando el 50% cada una */
  gap: 20px; /* Espacio entre las celdas */
  padding: 20px;
  width: 90%; /* Asegura que la grilla ocupe todo el ancho disponible */
  max-width: 100%; /* Garantiza que el contenedor de la grilla ocupe todo el ancho disponible */
  margin: 0 auto; /* Centra el contenido */
  overflow: hidden; /* Evita desbordamiento */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del contenedor */
  padding-right: 30px; /* Agrega espacio en el borde derecho */
  padding-left: 30px; /* Agrega espacio en el borde izquierdo */
}

/* Botones de los juegos en la página de inicio */
.game-button {
  display: flex; /* Asegura que el contenido esté centrado */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 16px; /* Tamaño de fuente más pequeño */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  height: 100px; /* Ajusta la altura de los botones */
  width: 100%; /* Asegura que los botones se expandan para llenar su celda */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del botón */
  overflow: hidden; /* Evita que el contenido del botón se desborde */
}

.game-button:hover {
  background-color: #0056b3;
}

.game-button.disabled {
  background-color: #f0f0f0; /* Gris claro y más suave */
  color: #888; /* Color de texto más suave */
  pointer-events: none; /* Desactivar la interactividad */
}


/* Contenedor principal */
.monster-wilds-container {
  display: flex;
  flex-direction: row; /* Alinea la barra lateral y el contenido de forma horizontal */
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  padding: 20px; /* Ajuste de espacio interno */
  gap: 20px; /* Añade espacio entre la barra lateral y el contenido */
}


.sidebar ul {
  list-style-type: none; /* Elimina las viñetas */
  padding-left: 0; /* Elimina el margen izquierdo */
}

/* Barra lateral */
.sidebar {
  width: 250px;
  height: 100vh; /* Esto hará que ocupe toda la altura disponible sin crear scroll */
  background-color: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}


/* Eliminar viñetas y márgenes de la lista */
.sidebar ul {
  list-style-type: none; /* Elimina las viñetas */
  padding-left: 0; /* Elimina el margen izquierdo */
}

.sidebar li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: #1abc9c;
}

/* Content section */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px; /* Esto separa el contenido de la barra lateral */
}


button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6b6b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.misiones-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misiones-list {
  width: 80%;
}

.mision {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
}

.mision span {
  flex: 1;
  text-align: center;
}

.titulo {
  text-align: left;
}

.hrp {
  text-align: center;
}

.monstruos {
  text-align: center;
}

.hp {
  text-align: right;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 10px; /* Espacio entre las columnas */
  padding: 20px; /* Espacio alrededor de la sección */
}

.item {
  border-bottom: 1px solid #ddd; /* Línea fina entre los items */
  padding-bottom: 10px; /* Espacio debajo de cada item */
}

.item:last-child {
  border-bottom: none; /* El último item no tendrá línea inferior */
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.paginacion button {
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginacion button:hover {
  background-color: #0056b3;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.monsters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.monster {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter {
  margin-bottom: 20px;
  text-align: center;
}


/* Para dispositivos móviles */
@media (max-width: 768px) {
  .monster-wilds-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    width: 90%; /* Para que no ocupe todo el ancho */
  }
}



